#root{
    height: 100vh;
}

.header-container{
    background-color: rgba(173, 216, 230, 0.795);
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    border-bottom: 1px solid black;
}

.app-container{
    position: relative;
}


.game-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 16%);
    gap: 15px;
    height: 90vh;
    align-items: center;
    justify-content: center;
    width: calc(100% - 14px);
    padding: 8px 7px;
    background-color: sandybrown;
}

.card-image{
    height: 80%;
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.card{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    height: 42vh;
    cursor: pointer;
    background-color: white;
}

.card-name{
    text-align: center;
    font-size: 1.15rem;
    font-weight: bold;
}

.flavor-text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    padding: 2px 4px; 
    font-size: .85rem;
    overflow-y: auto;
}

.overlay{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(211, 211, 211, 0.527);
    top: 0;
    left: 0;
}

.game-end{
    background-color: rgba(240, 128, 128, 0.699);
    height: 70%;
    width: 60%;
    position: absolute;
    top: 15%;
    left: 20%;
    box-shadow: 2px 2px grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 0px 75px;
    font-size: 1.8rem;
}

.game-end button, .game-end select{
    width: 30%;
    height: 30px;
    font-weight: bold;
    font-size: 1.15rem;
}

.instructions-container > h1 {
    font-size: 2.5rem;
    text-align: center;
}

.instructions-container > p{
    font-size: 1.75rem;
    text-align: center;
}

div.best-score, .current-score{
    font-size: 1.25rem;
    font-weight: 500;
    color: rgba(196, 27, 27, 0.712);
    margin: 3px;
    -webkit-transform: scale(4, 2);
    -moz-transform: scale(4, 2);
    -o-transform: scale(4, 2);
    transform: scale(4, 2);
}

.wrong-card{
    color: green;
}